.sidebar {
 background: #1a1b20;
 color: #fff;
 border-bottom: 1px solid #fff1;
}

@media (prefers-color-scheme: light) {
  html {
    background: #ffffff;
    color: #18191d;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background: #18191d;
    color: #ffffff;
  }
}

body {
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif;
  font-size: calc(0.8rem + 0.25vw);
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 50em) {
  body {
    font-size: 1.125rem
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 1.8em
}

b, strong, th {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

article a {
  color: #68f;
}

header time {
  color: #8c8c8e;
}

hr {
  border: 1px solid #8c8c8e4d;
  margin: 2em 0;
}

blockquote {
  background: #8c8c8e0a;
  border-left: 3px solid #8c8c8eb3;
  padding: 1px 1.5em;
}

blockquote p {
  opacity: .7
}

p {
  padding: 10px;
}

blockquote, figure {
  margin: 1em 0;
}

li {
  padding: 15px;
}

img {
  border-radius: 2px;
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: .5em 1em;
}

tr {
  border: 1px solid #8c8c8e33;
}

tr:hover, tr:nth-child(odd) td {
  background: #8c8c8e0a;
}

pre {
  background: #8c8c8e22;
  border-radius: 2px;
  font-size: .8em;
  margin: 1.5em 0;
  padding: .8em 1.2em;
  overflow-x: auto;
}

:not(pre) > code {
  font-size: .9em;
  background: #8c8c8e26;
  opacity: .7;
  border-radius: 2px;
  margin: 0 .1em;
  padding: .2em .4em;
}

body > header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

body > header > a {
  font-size: 1.3em
}

article header {
  margin-bottom: 1.5em;
}

nav {
  margin: .4em -.8em;
}

nav a {
  margin: .4em .8em;
}

body > header, article {
  padding: 1.5em;
}

@media (min-width: 32em) {
  body > header, article {
    padding: 1.5em calc(38% - 12em);
  }
}

@media (min-width: 100em) {
  body > header, article {
    padding: 1.5em calc(46% - 20em);
  }
}
